@font-face {
  font-family: rale;
  src: url(Assets/Fonts/Raleway/static/Raleway-Black.ttf);
}
@font-face {
  font-family: lightrail;
  src: url(Assets/Fonts/Raleway/static/Raleway-Light.ttf);
}
:root {
  --background-color: #fff;
--border: 0.5px solid #8888885b;
--border-radius: border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Gilroy' ; */
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


#loader{
  /* display: none; */
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader h1{
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to Right, rgb(0, 255, 234), rgba(0, 255, 85, 0.685));
  -webkit-background-clip: text;
  opacity: 0;
  position: absolute;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
  text-transform: uppercase;
}
#loader h1:nth-child(2){
  animation-delay: 2s;
}
#loader h1:nth-child(3){
  animation-delay: 3s;
}
#loader h1:nth-child(4){
  animation-delay: 4s;
}
#minicircle{
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #fa1111;
  
  z-index: 9999;
}

@keyframes load{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{opacity: 0;}
}

#main {
  background-color: #F4F2EE;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
/* ?Navbar */

#global-nav img {
  height: 33px;
}

#global-nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  height: 3.4rem;
  /* padding-right: 10vw; */
  z-index: 100;
  background-color: #fff;
  border-bottom: var(--border);
}



.search-input {
  display: flex;
  align-items: center;

  margin-left: 8rem;
}
.abd {
  background-color: #edf3f8;
  margin-left: 0.6rem;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 2.2rem;
  border-radius: 0.3rem;
}

.search {
  border: none;
  /* padding: 0.23rem 0.56rem; */
  background: transparent;
  font-size: 1rem;
  box-sizing: border-box;
}

#nav-option {
  display: flex;

  gap: 1.5rem;
  border-right: solid 1px rgba(0, 0, 0, 0.158);
  padding-right: 1rem;
  box-sizing: border-box;
}
#nav-option a {
  margin: 0rem 0vw;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(77, 74, 74);
}

#nav-option a i {
  font-size: 1rem;
}
#nav-option a span {
  font-size: 0.8rem;
}
#nav-option a span i {
  font-size: 0.95rem;
}

#right-nav{
  display: flex;
gap: 25px;
align-items: center;
}
#right-nav a {
  text-decoration: none;
}
#right-nav i{
  color: rgb(77, 74, 74);
  font-size: 22px;
}

/*==============================> Navbar Ended < ========================= */

/* |Main Content  */

#scaffold {
  /*$ two-section : i> Left scaffold & ii>Right scaffold */
  width: 100%;
  margin-top: 4.4rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 1.5rem;
}
#scaffold a {
  text-decoration: none;
}
/*@ Left-side-section  */
#leftscaffold {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  gap: 1rem;
  padding-bottom: 10rem;
}

.profilecard {
  width: 100%;
  height: 26rem;
  border-radius: 0.5rem; /* @ Main_profile-div*/
  display: flex;
  flex-direction: column;
  border: var(--border);
  background-color: var(--background-color);
  }
.profile_pic {
  position: relative;
  width: 25%;
  height: 50%;
  border-radius: 50%;
  top: 40%;
  margin-left: 1.5rem;
}
.bgimg {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  width: 100%;
  height: 40%;
  background: transparent;
  /* background-color: grey; */
}
.bgimg img{
  object-fit: cover;
}
.bgimg .profile {
  position: relative;
  transform: translate(50);
  left: 2rem; /*@ profile_picture */
  bottom: 6rem;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}
.bgimg .lm {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.decrp {
  width: 100%;
  /*@ profile-description */
  border-radius: 0rem 0rem 0.5rem 0rem;
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-around;

  margin-top: 5rem;
}

.topbar {
  width: 100%;
  height: 5%;
}

.myname {
  width: 100%;
  gap: 0;
  display: flex;
  flex-direction: column;
}
.college-name {
  display: grid;
  grid-template-columns: 30% 65%;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem;
}
.college-name img {
  width: 100%;
}
.bottombar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  box-sizing: border-box;
  padding-left: 1rem;
}
.bottombar a {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #888;
  padding: 0.2rem 1rem;
  border-radius: 100px;
  color: #888;
}
.bottombar a:nth-child(1) {
  background-color: #037ade;
  color: white;
}
.bottombar a:nth-child(2) {
  border: 1px solid #037ade;
  color: #037ade;
}
.bottombar .emptydiv {
  align-content: center;
  justify-content: center;
}
/*$ profile card ended */

.activity {
  border-radius: inherit;
  width: 100%;
  /* height: 8rem; */
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #fff;
  border: var(--border);
}
.panel {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 1.3rem;
  justify-content: space-between;
  border-radius: inherit;
}

.panel-heading {
  height: 50px;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 2rem; */
  margin-left: 0;
}
.panel-btns span {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.panel-heading h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.panel-heading span:nth-child(1) {
  font-size: 20px;
}
.panel-heading span:nth-child(2) {
  color: #037ade;
  font-size: 14px;
}
.panel-btns span a:nth-child(1){
  border: 1px solid ;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 100px;
  border: 1px solid #037ade;
  color: #037ade;

}
.activity button {
  width: 100%;
  border: none;
  color: #888;
  background: transparent;
  border-top: 0.7px solid #88888896;
}

.elem1 {
  padding: 20px;
  font-size: 10px;
}

#leftscaffold .about {
  display: none;
}

#rightscaffold {
  margin-right: 0;
  width: 300px;
  height: 100%;
  background-color: #037ade;
  border-radius: 0.5rem;
}
.about {
  width: 100%;
  display: flex;
  padding: 35px;
  flex-direction: column;
  /* flex-wrap: wrap; */
  border-radius: inherit;
  background-color: white;
  height: 20rem;
  box-sizing: border-box;
  border: 1px solid black;
  /* box-shadow: 0.3rem 0.4rem 1rem 0.2rem ; */
}

/*|  post page */

#page2 {
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 5rem;
}

#page2 .left {
  display: flex;
  width: 230px;
  height: 100%;
  border: var(--border);
  border-radius: 10px;

}
.myid {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--background-color);
}
.minicard-bg-img{

  height: 50px;
  width: 100%;
  border: inherit;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.minicard-bg-img video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.user-img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  left: 4.6rem;
  top: 0.7rem;
  position: absolute;
  border: 3px solid white;

}
.user-img img{
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.user-info{
  padding-top: 2rem;
}
.user-info h5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.user-info span:nth-child(2), span:nth-child(3){
  letter-spacing: 0.5px;
color: #888;
font-weight: 400;
font-size: 12px;
margin-top: 5px;
/* border-bottom: var(--border); */
}
.extra {display: none;}
.minicard-bottom-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-top: var(--border);
  gap: 1rem;
}
.minicard-bottom-content button{
  background-color: #037ade ;
  color: white;
  padding: 3px 4rem  ;
  border-radius: 100px;
  border: none;
  
}
span-heading{
  width: 100%;
  display: flex;
  padding: 0 18px;
  justify-content: space-between;  
}
span-heading span{
  color: #5a5555;
  font-size: 12px;
}
.scrolldiv {
  /* height: 100%; */
  display: flex;
  position: relative;
  gap: 1.5rem;
}
.middle {
  min-height: 100vh;
  width: 600px;
  padding: 0.8rem;
  background-color: var(--backgroud-color);
  border-radius: 10px;
  border: var(--border);
  background-color: white;
  padding-bottom: 10rem;

}

.elem {
  padding: 0.2vw;
  display: flex;
  flex-direction: column;
  background-color:  var(--background-color);
  padding: 1rem;
}
.elem a {
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 100px;
  color: black;
  border: 0.5px solid #888;
}
.btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.elem h1 {
  font-size: 21px;
}


/* .postheader {
  padding: 0.3vw 0.7vw;
  width: 100%;
}

.innernav {
  display: flex;
  width: 100%;
}
.postheader img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.heading {
  padding: 0.3vw 0.6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.imgdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallfont-post {
  font-size: 14px;
} */

/* ? your post */
#post {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5vw;
  border: var(--border);
  border-radius: 8px;
  width: 100%;
}
post-global-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
padding: 0 25px;
}
.post-nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;

}
.post-profile-pic{
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}
.post-profile-pic img{
  height: 100%;
  object-fit: cover;
}
.post-userinfo{
  display: flex;
  flex-direction: column;
  
}
.post-userinfo span{
  line-height: 12px;
  font-size: 12px;
  color: #888;
  padding-top: 5px;
}
.post-userinfo span span:nth-child(1){
font-size: 13px;
color: black;
font-weight: 600;

}
.post-userinfo{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
}
.post-hero{
  width: 100%;
}
.post-pic {     /* ^  Your post here */
  height: 350px;
  overflow: hidden;
  position: relative;
}
.post-pic img{
  height: 100%;
  width: 100%;
}
#post-pic-hover{
  color: rgba(255, 255, 255, 0.692);
  text-align: center;
  position: absolute;
  height: 35%;
  width: 100%;
  background-color: linear-gradient(transparent, black);
  z-index: 9999;
  bottom: -40%;
  background-color: #000000ce;
  transition: all ease 1s;
}
#post-pic-hover a{
  position: absolute;
  z-index: 9999;
  bottom: -100;
  }
#post:hover #post-pic-hover{
  bottom: 0;
}
#post-pic-hover a {
  color: white;
  text-decoration: underline;
  
}
#post-pic-hover a:hover i{
  position: absolute;
color: white;
font-size: 2rem;
}
post-footer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

post-footer a {
text-decoration: none;
color: #888;
padding: 5px 10px;
border-radius: var(--border-radius);

}

section {
  width: 280px;
  border-radius: 10px;
  
}
section div {
  margin-top: 1rem;
}
#page3 {
  position: relative;
  display: flex;

  position: relative;
  height: 100vh;
  width: 100%;
}
